{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Linda. Welcome to my personal blog where I will journal random entries of my progress and journey through the unknown.</p>
        <p>It will have no structure and is just a space to express random musings and thoughts.</p>
        <p>Hope you enjoy and don't forget to comment! :)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}